<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>
        <ngx-datatable
          #childrenTable
          [rows]="rows"
          class="material"
          [columnMode]="'force'"
          (sort)="onSort($event)"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [externalPaging]="true"
          [externalSorting]="true"
          [selected]="selectedRow"
          (select)="onSelect($event)"
          [selectCheck]="singleSelectCheck"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          style="border-radius: 5px; box-shadow: 0px">
          <ngx-datatable-column
            [width]="70"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            name="Actif"
            prop="isEnabled">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <nb-checkbox [value]="value" (change)="onDeselect($event, row)"></nb-checkbox>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="50"
            [sortable]="true"
            [canAutoResize]="true"
            [draggable]="false"
            [resizeable]="true"
            name="Id"></ngx-datatable-column>

          <ngx-datatable-column
            [width]="100"
            [sortable]="true"
            [canAutoResize]="true"
            [draggable]="true"
            [resizeable]="true"
            name="Nom"
            prop="lastName">
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="120"
            [sortable]="true"
            [canAutoResize]="true"
            [draggable]="true"
            [resizeable]="true"
            name="Prénom"
            prop="lastName">
          </ngx-datatable-column>

          <ngx-datatable-column
            [width]="100"
            [sortable]="true"
            [canAutoResize]="true"
            [draggable]="true"
            [resizeable]="true"
            name="Age"
            prop="birthDate">
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="100"
            [sortable]="true"
            [canAutoResize]="true"
            [draggable]="true"
            [resizeable]="true"
            name="Montant de participation"
            prop="amountParticipationCe">
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="90"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            name="Détails"
            prop="id"
          >
            <ng-template let-value="value" ngx-datatable-cell-template>
              <a [routerLink]="['/users/users-view/', value]"><i class="fa fa-eye" style="width: 100px"></i></a>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            [width]="90"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            name="Modifier"
            prop="id"
          >
            <ng-template let-value="value" ngx-datatable-cell-template>
              <a [routerLink]="['/ces/ce-view/', value]"><i class="fas fa-pencil-alt" style="width: 100px"></i></a>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </nb-card-body>
    </nb-card>
  </div>
</div>
