<span style="background-color: #FFFF00">{{errorMessage}}</span>

<div class="row">


  <div class="col-md-6">

    <nb-card>
      <nb-card-header>Explorateur de fichiers
      </nb-card-header>
      <nb-card-body>
        <div class="ui-toolbar-group-right">
          <!--<button pButton type="button"-->
          <!--(click)="openCreateFolder()"-->
          <!--label="Create Folder"-->
          <!--icon="fa-plus-square"-->
          <!--class="ui-button-success"></button>-->
          <button pButton type="button"
                  (click)="deleteItems()"
                  label="Supprimer un fichier"
                  icon="fa-trash"
                  class="ui-button-danger"></button>
        </div>
        <!-- Tree Node Control -->
        <p-tree [value]="fileList"
                selectionMode="single"
                [propagateSelectionUp]="false"
                [(selection)]="selectedNodes"
                [style]="{'width':'100%','max-height':'400px','overflow':'auto'}">
          <ng-template let-node pTemplate="file">
            <u>
              {{node.label}}
            </u>
          </ng-template>
          <ng-template let-node pTemplate="folder">
            <b>{{node.label}}</b>
          </ng-template>
        </p-tree>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>

      <nb-card-header>Ajout de Fichiers & Images</nb-card-header>
      <nb-card-body>

        <br />
        <label for="FileFolder">Choisir le type de fichier à ajouter</label>
        <p-dropdown id="FileFolder"
                    [options]="foldersDropdown"
                    [(ngModel)]="selectedFolder"
                    [style]="{'width':'150px'}"></p-dropdown>
        <br /><br />
        <p-fileUpload name="myfile[]"
                      [url]="url"
                      uploadLabel="Charger le(s) fichier(s)"
                      cancelLabel="Annuler"
                      chooseLabel="Sélectionner les fichiers"
                      multiple="multiple"
                      (onBeforeUpload)="onBeforeUploadHandler($event)"
                      (onUpload)="onUploadHandler($event)">
        </p-fileUpload>
        <!-- Dialog -->
        <p-dialog [(visible)]="showCreateFolderPopup"
                  modal="modal"
                  width="400"
                  height="230"
                  [responsive]="true"
                  [contentStyle]="{'overflow':'visible'}">
          <p-header>
            Create New Folder
          </p-header>
          <label for="FileFolderPopup">Parent Folder </label>
          <p-dropdown id="FileFolderPopup"
                      [options]="foldersDropdown"
                      [(ngModel)]="selectedFolder"
                      [style]="{'width':'150px'}"></p-dropdown>
          <br /><br />
          <label for="FolderName">Folder Name </label>
          <input id="FolderName" type="text" pInputText [(ngModel)]="NewFolderName" />
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button pButton type="button"
                      (click)="CreateFolder()"
                      label="Create Folder"
                      icon="fa-plus-square"
                      class="ui-button-success"></button>
            </div>
          </p-footer>
        </p-dialog>
      </nb-card-body>
    </nb-card>
  </div>
</div>
