<!--<nb-card>-->
  <!--<nb-card-body>-->
    <!--<nb-tabset>-->
      <!--<nb-tab tabTitle="Infos CE"-->
              <!--[active]="step === 1"-->
              <!--data-toggle="tab">-->
      <!--</nb-tab>-->
      <!--<nb-tab tabTitle="Configuration du CE"-->
              <!--[attr.disabled]="ce === undefined"-->
              <!--[active]="step === 2"-->
              <!--data-toggle="tab"></nb-tab>-->
      <!--<nb-tab tabTitle="Catalogue"-->
              <!--[active]="step === 3"-->
              <!--[attr.disabled]="!ce"-->
              <!--disabled="true"-->
              <!--data-toggle="tab"></nb-tab>-->
    <!--</nb-tabset>-->
  <!--</nb-card-body>-->
<!--</nb-card>-->

<!--<div style="background: #2d8ac7; height: 200px"></div>/-->
