<nb-card>
  <nb-card-header>Import de Produits Excel <span class="btn btn-danger btn-tn pull right"
                                                 (click)="onClose()">Fermer</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">
        <p>Ici, vous pouvez importer des listes de produits par fichier Excel.
          Vous pouvez trouver le modèle <a href="">ici</a>. </p>
        <p> Les champs obligatoires sont : la Référence Pintel, le Prix et le nom du fournisseur.
          Toutes les autres colonnes ne sont pas requises et pourront être ajoutées ou modifiées par la suite.</p>
        <p> L'ordre des colonnes n'a pas d'importance.</p>
        <p><input type="file" (change)="onFileChange($event)">
          <button [disabled]="source.count() <= 0"
                  class="btn btn-primary btn-tn pull-right"
                  (click)="importGoods()">Sauvegarder les articles
          </button>
        </p>
      </div>
    </div>
    <ng2-smart-table
      *ngIf="validGoods"
      [settings]="settings"
      [source]="source"
      #xlsTable>
    </ng2-smart-table>
    <div *ngIf="!validGoods && errorsArr.length > 0">
      <label> {{ errorsArr.length }} produits comportent des erreurs.</label>
      <ngx-show-errors [errorsArr]="errorsArr"></ngx-show-errors>
    </div>

  </nb-card-body>
</nb-card>

