.dragarea {
  font-size: 15px;
  border: 3px solid #bbb;
  padding: 10px;
  background-color: #fff;
  color: #bbb;
}

.droparea {
  font-size: 24px;
  border: 3px dashed #bbb;
  padding: 20px;
  background-color: #eff;
  color: #aaa;
}
