<nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
  <div class="col-md-1">
    <h4>Liste des Produits</h4>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="vertical-align: middle" routerLink="new-product" [routerLinkActive]="['active']">Ajouter un produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="new-batch" [routerLinkActive]="['active']">Ajouter un lot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="excel-import/products" [routerLinkActive]="['active']">Import Excel Produits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="excel-import/batches" [routerLinkActive]="['active']">Import Excel Lots</a>
      </li>
    </ul>
    <div>
      <label>Produits par page </label>
      <select class='select-option' required [(ngModel)]='optionSelected'
              (ngModelChange)='onOptionsSelected($event)'>
        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
      </select>
    </div>
    <div class="input-group input-group-sm col-md-3">
    <span *ngIf="searchInput.value.length > 0"
          (click)="clearSearch(); searchInput.value = ''"
          class="input-group-addon success onhover">
    <i class="ion-close-circled" aria-hidden="true"></i></span>
      <span *ngIf="searchInput.value.length < 1"
            class="input-group-addon success smallfont small">
    <i class="ion-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control smallfont small"
             placeholder="Cherchez un produit (3 charactères min.)"
             (keyup)="_setSearch($event.target.value); searchTerm$.next($event.target.value)"
             #searchInput/>
    </div>
  </div>
</nav>
<div class="row">
  <div [ngClass]="[isActiveChild ? 'col-md-7' : 'col-md-12']" >
    <div class="col-md-12 nopadding">
      <ngx-datatable
        #productTable
        [rows]="rows"
        [columns]="columns"
        class="material datatable-row-odd"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        (sort)="onSort($event)"
        (page)='setPage($event, searchInput.value)'
        [selected]="selectedRow"
        (select)="onSelect($event)"
        [selectionType]="'single'"
        [limit]="page.size"
        style="border-radius: 5px; box-shadow: 0px">
        <ngx-datatable-column
          [width]="70"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          name="Actif"
          prop="isEnabled">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <nb-checkbox [value]="value" (change)="onDeselect($event, row)"></nb-checkbox>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="true"
          name="Id"></ngx-datatable-column>
        <ngx-datatable-column
          [width]="70"
          [sortable]="true"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          name="Ref Pintel">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="100"
          [sortable]="true"
          [canAutoResize]="true"
          [draggable]="false"
          [resizeable]="200"
          name="Titre"
          prop="title">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value.length > 35 ? value.substring(0, 32) + '...' : value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="true"
          [canAutoResize]="true"
          [draggable]="false"
          [resizeable]="false"
          name="Prix"
          prop="price">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value}} €
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="100"
          [sortable]="true"
          [canAutoResize]="true"
          [draggable]="true"
          [resizeable]="true"
          name="Fournisseur"
          prop="supplierId">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <!--{{ value ? returnSupplierName(value) : 'Autre'}}-->
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="100"
          [sortable]="true"
          [canAutoResize]="true"
          [draggable]="true"
          [resizeable]="true"
          name="Type"
          prop="isBatch">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ row.isBatch ? 'Lot' : 'Produit'}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
  <div class="col-md-5" [@animRoutes]="getPage(appOutlet)">
      <router-outlet #appOutlet="outlet"></router-outlet>
  </div>
</div>
