.small {
  height: 37px !important;
}

.smallfont {
  font-size: 0.75rem !important;
  padding-right: 0.6rem !important;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
